---
import client from "../sanity/sanity";
import Main from "../components/Main";
import BlogList from "../components/BlogList";
import Footer from "../components/Footer";

const posts = await client.fetch(`
    *[_type == "post"]{
      _type,
      _id,
      _createdAt,
      title,
      slug,
      body,
      "categoryTitle": categories[]->title
    }
  `);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hakeem's Blog</title>
  </head>
  <body>
    <Main client:load />
    <BlogList client:load posts={posts} />
    <Footer client:load />
  </body>
</html>
