---
import PortableText from "../../components/PortableText.astro";
import client from "../../sanity/sanity";

export async function getStaticPaths() {
  const posts = await client.fetch(`
    *[_type == "post"]`);

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}

const { title, body } = Astro.props;
---

<h1>{title}</h1>

<PortableText portableText={body} />
