---
import ContentSection from "../../components/ContentSection";
import PortableText from "../../components/PortableText.astro";
import client from "../../sanity/sanity";

export async function getStaticPaths() {
  const posts = await client.fetch(`
    *[_type == "post"]`);

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}

const { title, body } = Astro.props;
---

<div>
  <ContentSection client:load title={title} />
  <!-- <PortableText portableText={body} /> -->
</div>
