---
import ContentSection from "../../components/ContentSection";
import PortableText from "../../components/PortableText.astro";
import client from "../../sanity/sanity";

export async function getStaticPaths() {
  const posts = await client.fetch(`
    *[_type == "post"]`);

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}

const { title, body } = Astro.props;
---

<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <h1
      class="mt-2 text-3xl font-bold tracki ng-tight text-gray-900 sm:text-4xl"
    >
      {title}
    </h1>
  </div>
</div>
<!-- TODO: can't i put this PortableText inside the div? -->

<PortableText portableText={body} />
